@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1.2;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Hauora-Regular", sans-serif;
}

a, body a:hover {
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

input {
  padding: 0;
  /* шрифт унаследуется у body */
  font: inherit;
  border: none;
  margin: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "VKSansDisplay";
  src: url(../fonts/VKSansDisplay-Light.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "VKSansDisplay";
  src: url(../fonts/VKSansDisplay-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "VKSansDisplay";
  src: url(../fonts/VKSansDisplay-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "VKSansDisplay";
  src: url(../fonts/VKSansDisplay-DemiBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "VKSansDisplay";
  src: url(../fonts/VKSansDisplay-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
.container {
  position: relative;
}

.start {
  overflow: hidden;
  padding: 20px 0 30px;
}
.start__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.start__text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /*         p {
              &:nth-child(2) {
                 mt 
              }
          } */
}
.start__btn {
  width: calc(100% - 1px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 11px 10px 23px;
  background: #000000;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.back-img {
  position: absolute;
  right: 0;
  top: 46px;
  z-index: -1;
  height: 100vh;
}

.hello {
  margin-top: 200px;
  padding: 20px 0 30px;
}
.hello__title {
  margin-top: 27px;
}
.hello__about {
  margin-top: 23px;
  width: 100%;
  padding: 34px 0 24px;
  background-color: black;
  border-radius: 32px;
}
.hello__desc {
  margin-top: 22px;
  text-transform: unset;
}
.hello__info-text {
  margin-top: 35px;
}
.hello__info-text p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FF7700;
}
.hello__info-data {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hello__info-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 7px);
}
.hello__info-points {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 11px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 13px;
  text-transform: capitalize;
  color: #FF7700;
  height: 26px;
  width: 100%;
}
.hello__info-prize {
  margin-top: 12px;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  text-transform: lowercase;
  color: #FF7700;
  width: 90%;
}
.hello__btn {
  margin-top: 22px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}
.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  margin-top: 7px;
}
.question-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.answer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 39.5px;
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 38px;
}
.answer input {
  display: none;
}

.quiz {
  margin-top: 200px;
  padding: 20px 0 30px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}
.quiz__img-wrapper {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.quiz__img {
  margin: 0 auto;
}
.quiz__bcg {
  margin-top: 14px;
  padding: 53px 0 34px;
  width: 100%;
  height: 100%;
  background-color: black;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.quiz__btn {
  margin-top: 30px;
  background-color: #fff;
  color: #000;
  transition: 0.1s;
}
.quiz__btn_opac {
  opacity: 0.3;
}

.orange-c {
  position: absolute;
  max-width: 160%;
  top: -210px;
  left: -140px;
}

.answer-input {
  display: none;
}

.selected {
  background-color: #FF7700;
  transition: background-color 0.1s ease;
  border-color: #FF7700;
}

.orange-chain {
  width: 100%;
  max-width: 70%;
  margin-top: 15px;
  margin-left: auto;
}

.cross-circle {
  width: 43px;
  height: 43px;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
}
.cross-circle--active {
  background-color: #FF7700;
  transition: background-color 0.1s ease;
}
.cross-circle::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cross-circle::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%) rotate(45deg);
}

.autoriz {
  margin-top: 200px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.autoriz__title {
  margin-top: 9px;
  max-width: 70%;
}
.autoriz__bcg {
  position: absolute;
  bottom: 0;
  padding: 53px 0 53px;
  height: unset;
}
.autoriz__alert {
  color: white;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FF7700;
}

.introduce {
  margin-top: 200px;
  height: 100vh;
  background-color: #000;
  padding: 20px 0 30px;
  overflow: hidden;
  position: relative;
}
.introduce__title {
  margin-top: 9px;
}
.introduce__input-wrapper {
  margin-top: 50px;
}
.introduce__input-wrapper span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #FF7700;
}
.introduce__input-wrapper input {
  margin-top: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 119, 0, 0.4);
  width: 100%;
}
.introduce__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 36px;
}

.back-grey {
  z-index: unset;
}

.result {
  margin-top: 200px;
  overflow: hidden;
  height: 100vh;
}
.result__title {
  margin-top: 66px;
}
.result__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FF7700;
}

body {
  overflow-x: hidden;
  font-family: "VKSansDisplay";
  font-style: normal;
}

.container {
  width: 650px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FF7700;
}
.title--white {
  color: #fff;
}

.desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */