.autoriz {
    margin-top: 200px;
    position: relative;
    height: 100vh;
    overflow: hidden;
    &__title {
        margin-top: 9px;
        max-width: 70%;
    }
    &__bcg {
        position: absolute;
        bottom: 0;
        padding: 53px 0 53px;
    }
    &__alert {
        color:white;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FF7700;

    }
}