.hello {
    margin-top: 200px;
    padding: 20px 0 30px;
    background-color: #000;
    height: 100vh;
    &__mid-content {
        margin-top: 70px;
        p.fz10.orange-txt {
            margin-top: 35px;
        }
        p.fz13.orange-txt {
            margin-top: 5px;
        }
    }
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__title {
        // margin-top: 27px;
    }
    &__desc {
        margin-top: 22px;
        text-transform: unset;
    }
    &__info {
        &-data {
            margin-top: 28px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 230px;
        }
        &-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 37px;
        }
        &-points {
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            border-radius: 11px;
            background: rgba(255, 255, 255, 0.2);
            font-size: 13px;
            text-transform: capitalize;
            color: #FF7700;
            height: 25px;
            width: 100%;
            max-width: 54px;
        }
        &-prize {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
            text-transform: lowercase;
            color: #FF7700;
            width: 90%;
        }
    }
    &__btn {
        display: flex;
        flex-direction: row;
        gap: 24px;
        background-color: #51ABEA;
        border-radius: 11111px;
        width: 100%;
        height: 62px;
        align-items:center;
        justify-content: flex-start;
        padding-left: 25px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        // margin-top: 45px;
    }
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}