.container {
    position: relative;
}
.start {
    overflow: hidden;
    padding: 20px 0 30px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 60px;
/*         p {
            &:nth-child(2) {
               mt 
            }
        } */
    }
    &__btn {
        width: calc(100% - 1px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 11px 10px 23px;
        background: #000000;
        border-radius: 50px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
    }
}
.back-img {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: -1;
    height: 100vh;
}