.question {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FF7700;
}
.answer {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;

}

.quiz {
    margin-top: 200px;
    padding: 20px 0 30px;
    position: relative;
    overflow: hidden;
    &__img-wrapper {
        width: 100%;
        height: 100%;
        object-fit: contain;   
    }
    &__img {
        margin: 0 auto;
    }
    &__bcg {
        margin-top: 14px;
        padding: 53px 0 34px;
        width: 100%;
        background-color: black;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
    &__btn {
        margin-top: 30px;
        background-color: #fff;
        color: #000;
    }
}
.answers {
    &__container {
        margin-top: 43px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 9px;
    }
    &__item {
        position: relative;
        width: calc(50% - 10px);
        height: 92px;
        background-color: white;
        color: black;
        border-radius: 12px;
        display: flex;
        align-items:center;
        justify-content: center;
        cursor: pointer;

        & input {
            // display: none;
        }

        &:nth-child(1) {
            &::after {
                content: "A";
                position: absolute;
                top: 4px;
                left: 6px;
                border-radius: 50%;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #fff;
                width: 18px;
                height: 18px;
            }
        }
        &:nth-child(2) {
            &::after {
                content: "B";
                position: absolute;
                top: 4px;
                left: 6px;
                border-radius: 50%;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #fff;
                width: 18px;
                height: 18px;
            }
        }
        &:nth-child(3) {
            &::after {
                content: "C";
                position: absolute;
                top: 4px;
                left: 6px;
                border-radius: 50%;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #fff;
                width: 18px;
                height: 18px;
            }
        }
        &:nth-child(4) {
            &::after {
                content: "D";
                position: absolute;
                top: 4px;
                left: 6px;
                border-radius: 50%;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #fff;
                width: 18px;
                height: 18px;
            }
        }
    }
}
.orange-c {
    position: absolute;
    max-width: 160%;
    top: -210px;
    left: -140px;
}
.answer-input {
    display: none;
}
.selected {
    background-color: #FF7700;
    transition: background-color 0.1s ease;
}