.result {
    background-color: #000;
    margin-top: 200px;
    overflow: hidden;
    height: 100vh;
    padding-top: 23px;
    &__title {
        margin-top: 71px;
    }
    &__description {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FF7700;
    }
    &__wrapper {
        margin-top: 40px;
    }
    &__img {
        margin-top: 20px;
    }
}
.prize {
    color: #fff;
}