.result {
    margin-top: 200px;
    overflow: hidden;
    height: 100vh;
    &__title {
        margin-top: 66px;
    }
    &__description {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FF7700;
    }
}